<app-navbar></app-navbar>
<div class="container mx-100 p-4 h-full">
    <div class="grid grid-cols-3 gap-4 bg-black h-1/2">
        <!-- Left Card -->
        <div class="col-span-1 flex flex-col justify-between border border-red-700 bg-white shadow-md">
            <div class="p-6">
                <img class="w-full h-full object-cover" src="assets/images/news1.png" alt="">
            </div>
            <div class="w-full p-6">
                <a href="#" class="block w-full text-center px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded-md hover:bg-blue-600">Go somewhere</a>
            </div>
        </div>

        <!-- Right Cards -->
        <div class="col-span-2 grid grid-rows-2 gap-4">
            <!-- Top Right Card -->
            <div class="flex flex-col justify-between border border-red-700 bg-white shadow-md">
                <!-- <div class="p-6">
                    <img class="w-full h-1/2 object-cover" src="assets/images/2.jpg" alt="">
                </div> -->
                <div class="w-full p-6">
                    <a href="#" class="block w-full text-center px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded-md hover:bg-blue-600">Go somewhere</a>
                </div>
            </div>

            <!-- Bottom Right Card -->
            <div class="flex flex-col justify-between border border-red-700 bg-white shadow-md">
                <!-- <div class="p-6">
                    <img class="w-full h-1/2 object-cover" src="assets/images/3.jpg" alt="">
                </div> -->
                <div class="w-full p-6">
                    <a href="#" class="block w-full text-center px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded-md hover:bg-blue-600">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
